# Đồ án cuối kỳ



|    Họ và Tên    |    MSSV    |
| ---------|----------|
| Tạ Tiến Thành Đạt| 1712333    |
| Nguyễn Nhật Hảo| 19120501   |

Link Trello: https://trello.com/b/udLhkMpv/l%E1%BB%8Bch-tr%C3%ACnh

## Import các thư viện cần thiết

In [3]:
import numpy as np
import pandas as pd
import matplotlib as plt

## Thu thập dữ liệu

Trong đồ án này chúng em sử dụng [bộ dữ liệu](https://www.kaggle.com/altadata/covid19?fbclid=IwAR3bOuHzXvun8UHQd-6xKWAxpz9m_hICvuBF0zXkbWNh4TlorFre7_GyV40) về COVID-19 được public trên Kaggle. Bộ dữ liệu này ghi lại những thông tin số liệu thống kê về đại dịch COVID-19 hằng ngày trên toàn thế giới do Trung tâm Khoa học Hệ thống và Kỹ thuật (CSSE) của Đại học Johns Hopkins (JHU) cung cấp. Sở dĩ nhóm chúng em chọn bộ dữ liệu này cho đồ án bởi như tất cả mọi người đều đã thấy, sự ảnh hưởng mà đại dịch COVID-19 đã gây ra cho thế giới trong hơn 2 năm qua thật sự to lớn. Và chính bản thân những người sinh viên như chúng em cũng đã phải chịu ảnh hưởng nhất định đến việc học việc làm cũng như đời sống. Đó cũng chính là nguồn động lực thúc đẩy chúng em muốn tìm hiểu và phân tích nhiều hơn về đại dịch trong đồ án này.

## Khám phá dữ liệu và tiền xử lý

**Đọc dữ liệu từ file csv vào dataframe**

In [4]:
df = pd.read_csv('Data/altadatacovid_19.csv')
df

,reported_date,country_region,population,confirmed,active,deaths,recovered,mortality_rate,incident_rate
0,2020-02-24,Afghanistan,38928341.0,1,1,0,0,0.0,0.003
1,2020-02-25,Afghanistan,38928341.0,1,1,0,0,0.0,0.003
2,2020-02-26,Afghanistan,38928341.0,1,1,0,0,0.0,0.003
3,2020-02-27,Afghanistan,38928341.0,1,1,0,0,0.0,0.003
4,2020-02-28,Afghanistan,38928341.0,1,1,0,0,0.0,0.003
...,...,...,...,...,...,...,...,...,...
32606,2020-03-12,occupied Palestinian territory,NaN,0,0,0,0,NaN,NaN
32607,2020-03-14,occupied Palestinian territory,NaN,0,0,0,0,NaN,NaN
32608,2020-03-15,occupied Palestinian territory,NaN,0,0,0,0,NaN,NaN
32609,2020-03-16,occupied Palestinian territory,NaN,0,0,0,0,NaN,NaN
32610,2020-03-17,occupied Palestinian territory,NaN,0,0,0,0,NaN,NaN

**Dữ liệu có bao nhiêu dòng và bao nhiêu cột?**

**Mỗi dòng có ý nghĩa gì? Có vấn đề các dòng có ý nghĩa
khác nhau không?**

**Dữ liệu có các dòng bị lặp không??**

**Mỗi cột có ý nghĩa gì?**

**Mỗi cột hiện đang có kiểu dữ liệu gì? Có cột nào có kiểu
dữ liệu chưa phù hợp để có thể xử lý tiếp không?**

**Với mỗi cột có kiểu dữ liệu dạng số (numerical), các giá
trị được phân bố như thế nào?**

**Với mỗi cột có kiểu dữ liệu dạng phân loại (categorical),
các giá trị được phân bố như thế nào?**

## Đặt ra câu hỏi từ dữ liệu

## Phân tích dữ liệu để trả lời câu hỏi

## Tổng kết và nhìn lại quá trình làm đồ án